
body {
  background-color: #1a1a1aed;
  h1 {
    color: white;
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
    color: #00CCEC;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-table {
  table {
    table-layout: fixed;
    width: auto;
    max-width: 380px;
    border: 1px solid #9393bd;
    border-radius: 4px;
    background-color: #05E9CF;
    margin: 2px;
  }
  td {
    width: calc(100%/4);
      input {
        width: 50px;
      }
  }
  p {
    margin: 0;
  }
}
