.cat-table {
  table {
    width: auto;
    border: 1px solid #9393bd;
    border-radius: 4px;
    background-color: #a8e4cc;
    margin: 2px;
  }
  td {
    width: 150px;
  }
  p {
    margin: 0;
  }
  h2 {
    font-size: 28px;
  }
}
